{% include 'header.html' %}
{% include 'navbar2.html' %}
<div class="container-md" style="width: 500px; margin: 1em auto;">
    <div class="card" style="margin-bottom: 1em;">
        <h4 class="card-header">Account Security</h4>
        <div class="card-body">
            <div class="list-group">
                <a href="/changepassword" class="list-group-item">Change Password</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-bottom: 1em;">
        <h4 class="card-header">Account Settings</h4>
        <div class="card-body">
            <div class="list-group">
                <!-- <a class="list-group-item" href="/changeusername">Change Your Username</a>    -->
                <a class="list-group-item" href="/changeemail">Change Your Email</a>
                <a class="list-group-item" href="/changename">Change Your Name</a>
                <!-- <a class="list-group-item" href="/changeavatar">Change Your Avatar</a> -->
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}