{% include 'header.html' %}
{% include 'navbar2.html' %}
<style>
    .container2 {
        max-width: 500px;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container container2 container-fluid" style="justify-self: center; ">
    <form action="/changepassword" method="POST">
        <div class="mb-3">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
        </div>
        <div class="mb-3">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password need at least 10 characters long (letters & digits)" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="please re-enter the password" required>
        </div>
        <button type="submit" class="btn btn-dark" style="margin: 0.5em;">UPDATE PASSWORD</button>
    </form>
    {% if wrong_password %}
        <p style="margin-top: 0.5em; color: rgb(214, 36, 36);">Incorrect Password</p>
    {% else %}
        {% if invalid_password %}
        <p style="margin-top: 0.5em; color: rgb(214, 36, 36);">The password need to follow the requirement.</p>
        {% else %}  
            {% if password_not_match %}
                <p style="margin-top: 0.5em; color: rgb(214, 36, 36);">Your passwords doesn't match.</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% include 'footer.html' %}